{"openapi":"3.0.0","info":{"title":"Sessions API","version":"0.1.0"},"host":"api.app.sessions.us","basePath":"/","externalDocs":{"url":"https://api.app.sessions.us/api-docs-json","description":"Json documentation for the API can be found at here!"},"paths":{"/api/booking-pages/{id}":{"get":{"summary":"Returns a specific booking page.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Booking page object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingPage"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Booking page not found."},"429":{"description":"Too many requests, please try again later."}},"security":[{"header_api_key":[]}]},"put":{"summary":"Update a booking page.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"required":true,"schema":{"$ref":"#/components/schemas/BookingPageUpdateInput"}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Updated booking page","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingPage"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Booking page not found."},"418":{"description":"Limitation Error."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]},"delete":{"summary":"Delete a booking page.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Delete booking page","content":{"application/json":{"schema":{"type":"boolean"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Booking page not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}},"/api/booking-pages":{"get":{"summary":"Returns 20 booking pages for the current user, paginated","parameters":[{"name":"page","in":"query","required":false,"default":"1","type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Booking page list","content":{"application/json":{"schema":{"type":"array","$ref":"#/components/schemas/BookingPage"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"401":{"description":"Not authenticated."},"429":{"description":"Too many requests, please try again later."}},"security":[{"header_api_key":[]}]},"post":{"summary":"Create a booking page.","requestBody":{"content":{"application/json":{"required":true,"schema":{"$ref":"#/components/schemas/BookingPageCreateInput"}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Created booking page","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingPage"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"418":{"description":"Limitation Error."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}},"/api/booking-pages/{id}/slots":{"post":{"summary":"Compute a specific booking page's available time slots between 2 dates.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"required":true,"schema":{"$ref":"#/components/schemas/BookingPageComputeAvailableTimeSlotsInput"}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Available time slots, as string dates in UTC","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"404":{"description":"Booking page not found."},"429":{"description":"Too many requests, please try again later."}},"security":[{"header_api_key":[]}]}},"/api/booking-pages/{id}/bookings":{"get":{"summary":"Returns 20 not started bookings for the booking page, paginated","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"page","in":"query","required":false,"default":"1","type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Booking page not started bookings list","content":{"application/json":{"schema":{"type":"array","$ref":"#/components/schemas/Booking"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Booking page not found."},"429":{"description":"Too many requests, please try again later."}},"security":[{"header_api_key":[]}]}},"/api/booking-pages/{id}/collaborators":{"get":{"summary":"Returns 20 booking pages collaborators for the booking page, paginated","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"page","in":"query","required":false,"default":"1","type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Booking page collaborators list","content":{"application/json":{"schema":{"type":"array","$ref":"#/components/schemas/BookingPageCollaborator"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"429":{"description":"Too many requests, please try again later."}},"security":[{"header_api_key":[]}]},"post":{"summary":"Create a booking page collaborator.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"required":true,"schema":{"$ref":"#/components/schemas/BookingPageCollaboratorCreateInput"}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Created booking page collaborator","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingPageCollaborator"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]},"put":{"summary":"Update a booking page collaborator.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"required":true,"schema":{"$ref":"#/components/schemas/BookingPageCollaboratorUpdateInput"}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Updated booking page collaborator","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingPageCollaborator"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Booking page not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]},"delete":{"summary":"Delete a booking page collaborator.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"required":true,"schema":{"$ref":"#/components/schemas/BookingPageCollaboratorDeleteInput"}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Delete booking page collaborator","content":{"application/json":{"schema":{"type":"boolean"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Booking page not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}},"/api/bookings":{"get":{"summary":"Returns 20 bookings for the current user, paginated","parameters":[{"name":"page","in":"query","required":false,"default":"1","type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Booking list","content":{"application/json":{"schema":{"type":"array","$ref":"#/components/schemas/Booking"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"401":{"description":"Not authenticated."},"429":{"description":"Too many requests, please try again later."}},"security":[{"header_api_key":[]}]},"post":{"summary":"Create a booking.","requestBody":{"content":{"application/json":{"required":true,"schema":{"$ref":"#/components/schemas/BookingCreateInput"}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Created booking","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Booking"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"404":{"description":"Booking page not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}},"/api/bookings/{id}":{"put":{"summary":"Update a booking.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"required":true,"schema":{"$ref":"#/components/schemas/BookingUpdateInput"}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Updated booking","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Booking"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Booking not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]},"post":{"summary":"Cancel a booking.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"required":true,"schema":{"$ref":"#/components/schemas/BookingCancelInput"}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Cancelled booking","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Booking"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Booking not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]},"delete":{"summary":"Delete a booking.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Delete booking","content":{"application/json":{"schema":{"type":"boolean"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Booking not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}},"/api/bookings/{id}/collaborator":{"post":{"summary":"Change the booking collaborator on a booking.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"required":true,"schema":{"$ref":"#/components/schemas/BookingCollaboratorChangeInput"}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Changed booking","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Booking"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Booking not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}},"/api/guests/bookings":{"post":{"summary":"Create a booking as guest.","requestBody":{"content":{"application/json":{"required":true,"schema":{"$ref":"#/components/schemas/GuestBookingCreateInput"}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Created booking","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Booking"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"404":{"description":"Booking page not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]},{"header_api_guest_key":[]}]}},"/api/guests/bookings/{id}":{"put":{"summary":"Update a booking as guest.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"required":true,"schema":{"$ref":"#/components/schemas/GuestBookingUpdateInput"}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Updated booking","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Booking"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Booking not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]},"post":{"summary":"Cancel a booking as guest.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"required":true,"schema":{"$ref":"#/components/schemas/GuestBookingCancelInput"}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Cancelled booking","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Booking"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Booking not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}},"/api/guests/events/{eventIdOrSessionId}/register":{"post":{"summary":"Register to event as guest by event id or session id.","parameters":[{"name":"eventIdOrSessionId","in":"path","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"required":true,"schema":{"$ref":"#/components/schemas/GuestEventRegistrationInput"}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Created event registration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventRegistration"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"404":{"description":"Event not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}},"/api/rooms/{id}":{"get":{"summary":"Returns a specific room.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Room object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Room"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Room not found."},"429":{"description":"Too many requests, please try again later."}},"security":[{"header_api_key":[]}]},"put":{"summary":"Update a room.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomUpdateInput"}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Updated room","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Room"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Room not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]},"delete":{"summary":"Delete a room.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Delete room","content":{"application/json":{"schema":{"type":"boolean"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Room not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}},"/api/rooms":{"get":{"summary":"Returns 20 rooms for the current user, paginated","parameters":[{"name":"page","in":"query","required":false,"default":"1","type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Room list","content":{"application/json":{"schema":{"type":"array","$ref":"#/components/schemas/Room"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"401":{"description":"Not authenticated."},"429":{"description":"Too many requests, please try again later."}},"security":[{"header_api_key":[]}]},"post":{"summary":"Create a room.","requestBody":{"content":{"application/json":{"required":true,"schema":{"$ref":"#/components/schemas/RoomCreateInput"}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Created room","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Room"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"418":{"description":"Limitation Error."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}},"/api/rooms/{id}/clone":{"post":{"summary":"Clone a room.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Cloned room","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Room"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Room not found."},"418":{"description":"Limitation Error."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}},"/api/rooms/{id}/share":{"post":{"summary":"Share a room.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomShareInput"}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Shared room","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Room"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Room not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}},"/api/sessions/{id}":{"get":{"summary":"Returns a specific session.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Sessions object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Session"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Session not found."},"418":{"description":"Limitation Error."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]},"put":{"summary":"Update a session.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"required":true,"schema":{"$ref":"#/components/schemas/SessionUpdateInput"}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Updated session","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Session"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Session not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]},"delete":{"summary":"Delete a session.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Delete session","content":{"application/json":{"schema":{"type":"boolean"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Session not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}},"/api/sessions":{"get":{"summary":"Returns 20 sessions for the current user, paginated","parameters":[{"name":"page","in":"query","required":false,"default":"1","type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Session list","content":{"application/json":{"schema":{"type":"array","$ref":"#/components/schemas/Session"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"401":{"description":"Not authenticated."},"429":{"description":"Too many requests, please try again later."}},"security":[{"header_api_key":[]}]},"post":{"summary":"Create a session.","requestBody":{"content":{"application/json":{"required":true,"schema":{"$ref":"#/components/schemas/SessionCreateInput"}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Created session","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Session"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"418":{"description":"Limitation Error."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}},"/api/sessions/{id}/participants":{"get":{"summary":"Returns a specific session's participants.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Session participants list","content":{"application/json":{"schema":{"type":"array","$ref":"#/components/schemas/Participant"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Session not found."},"418":{"description":"Limitation Error."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]},"post":{"summary":"Add participants to session.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"required":true,"schema":{"type":"array","items":{"$ref":"#/components/schemas/SessionInputParticipant"}}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Added session participants","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Participant"}}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Session not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]},"put":{"summary":"Update participants from session.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"required":true,"schema":{"type":"array","items":{"$ref":"#/components/schemas/SessionInputParticipant"}}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Updated session participants","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Participant"}}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Session not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]},"delete":{"summary":"Delete session participants.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"requestBody":{"description":"The emails of the participants to delete from session.","content":{"application/json":{"required":true,"schema":{"type":"array","items":{"type":"string"}}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Delete session participants","content":{"application/json":{"schema":{"type":"boolean"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Session not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}},"/api/sessions/{id}/takeaways":{"get":{"summary":"Get session takeaways.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Session takeaways","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionTakeaways"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Session not found."},"418":{"description":"Limitation Error."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}},"/api/sessions/{id}/transcripts":{"get":{"summary":"Get session transcripts.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Session transcripts","content":{"application/json":{"schema":{"type":"array","$ref":"#/components/schemas/SessionTranscript"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Session not found."},"418":{"description":"Limitation Error."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}},"/api/sessions/{id}/recordings":{"get":{"summary":"Returns a specific session's recordings.","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Session recordings","content":{"application/json":{"schema":{"type":"array","$ref":"#/components/schemas/Recording"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Session not found."},"418":{"description":"Limitation Error."},"429":{"description":"Too many requests, please try again later."}},"security":[{"header_api_key":[]}]}},"/api/events/{eventIdOrSessionId}":{"get":{"summary":"Returns a specific event by event id or session id.","parameters":[{"name":"eventIdOrSessionId","in":"path","required":true,"type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Event object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Event"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"404":{"description":"Event not found."},"418":{"description":"Limitation Error."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]},"put":{"summary":"Update an event by event id or session id.","parameters":[{"name":"eventIdOrSessionId","in":"path","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"required":true,"schema":{"$ref":"#/components/schemas/EventUpdateInput"}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Updated event","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Event"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Event not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]},"delete":{"summary":"Delete an event by event id or session id.","parameters":[{"name":"eventIdOrSessionId","in":"path","required":true,"type":"string"}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Delete event","content":{"application/json":{"schema":{"type":"boolean"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Event not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}},"/api/events":{"get":{"summary":"Returns 20 events for the current user, paginated","parameters":[{"name":"page","in":"query","required":false,"default":"1","type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Event list","content":{"application/json":{"schema":{"type":"array","$ref":"#/components/schemas/Event"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"401":{"description":"Not authenticated."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]},"post":{"summary":"Create an event.","requestBody":{"content":{"application/json":{"required":true,"schema":{"$ref":"#/components/schemas/EventCreateInput"}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Created event","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Event"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"418":{"description":"Limitation Error."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}},"/api/events/{eventIdOrSessionId}/publish":{"post":{"summary":"Publish an event by event id or session id.","parameters":[{"name":"eventIdOrSessionId","in":"path","required":true,"type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Published event","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Event"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Event not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}},"/api/events/{eventIdOrSessionId}/toggle-public":{"post":{"summary":"Toggle an event as public or not by event id or session id.","parameters":[{"name":"eventIdOrSessionId","in":"path","required":true,"type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Toggle event as public or not","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Event"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Event not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}},"/api/events/{eventIdOrSessionId}/clone":{"post":{"summary":"Clone an event by event id or session id.","parameters":[{"name":"eventIdOrSessionId","in":"path","required":true,"type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Cloned event","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Event"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"403":{"description":"Forbidden."},"404":{"description":"Event not found."},"418":{"description":"Limitation Error."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}},"/api/events/{eventIdOrSessionId}/register":{"post":{"summary":"Register to event by event id or session id.","parameters":[{"name":"eventIdOrSessionId","in":"path","required":true,"type":"string"}],"requestBody":{"content":{"application/json":{"required":true,"schema":{"$ref":"#/components/schemas/EventRegistrationInput"}}}},"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Created event registration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventRegistration"}}},"headers":{"X-Rate-Limit-Limit":{"description":"The number of allowed requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Remaining":{"description":"The number of remaining requests in the current period","schema":{"type":"integer"}},"X-Rate-Limit-Reset":{"description":"The number of seconds left in the current period","schema":{"type":"integer"}}}},"400":{"description":"No or incorrect parameters or body data."},"401":{"description":"Not authenticated."},"404":{"description":"Event not found."},"429":{"description":"Too many requests, please try again later."},"500":{"description":"Internal error."}},"security":[{"header_api_key":[]}]}}},"components":{"securitySchemes":{"header_api_key":{"type":"apiKey","name":"x-api-key","in":"header"}},"schemas":{"BookingPage":{"type":"object","properties":{"id":{"type":"string","required":true,"description":"The id of the booking page."},"name":{"type":"string","required":true,"description":"The name of the booking page."},"disabled":{"type":"boolean","required":true,"description":"Whether the booking page is disabled or not."},"duration":{"type":"integer","description":"The duration of each booking, in minutes."},"additionalDurations":{"type":"array","required":true,"items":{"type":"integer"},"default":[],"description":"Array of additional durations, in minutes"},"from":{"type":"string","format":"date","required":true,"description":"The from date of the booking page."},"to":{"type":"string","format":"date","description":"The to date of the booking page."},"timeZone":{"type":"string","description":"The time zone of the booking page, in timeZone identifier format, eg: Europe/Bucharest."},"buffer":{"$ref":"#/components/schemas/BookingPageBuffer"},"settings":{"type":"object","properties":{}},"additionalRules":{"$ref":"#/components/schemas/BookingPageAdditionalRules"},"slug":{"type":"string","description":"The slug of the booking page."},"ignoreSharedCalendars":{"type":"boolean","required":true,"description":"Whether the booking page slot calculation will ignore shared calendars or not."},"allowAdditionalGuests":{"type":"boolean","required":true,"description":"Whether the booking page allows the booking requester to add additional guests on a booking."},"collaborationDistribution":{"$ref":"#/components/schemas/BookingPageCollaborationDistribution","default":"AVAILABILITY"},"scheduleSource":{"$ref":"#/components/schemas/BookingPageScheduleSource","default":"DEFAULT"},"agendaTemplateName":{"type":"string","description":"The agenda template name of the booking page."},"schedule":{"required":true,"$ref":"#/components/schemas/BookingPageSchedule"},"registrationForm":{"$ref":"#/components/schemas/RegistrationForm"}}},"BookingPageBuffer":{"type":"object","properties":{"before":{"type":"integer","description":"The before buffer value of the booking page."},"after":{"type":"integer","description":"The after buffer value of the booking page."}}},"BookingPageAdditionalRules":{"type":"object","properties":{"startTimeIncrement":{"type":"integer","description":"The start time increment value of the booking page."},"maxSessionsPerDay":{"type":"integer","description":"The maximum sessions per day value of the booking page."}}},"BookingPageScheduleHours":{"type":"object","properties":{"start":{"type":"integer","description":"The number of minutes, counting from midnight, when the schedule has a slot starting."},"end":{"type":"integer","description":"The number of minutes, counting from midnight, when the schedule has a slot ending."}}},"BookingPageSchedule":{"type":"object","properties":{"name":{"type":"string","required":true,"description":"The name of the booking page schedule."},"default":{"type":"boolean","required":true,"description":"Whether the booking page schedule is the default one or not."},"temporary":{"type":"boolean","required":true,"description":"Whether the booking page schedule is temporary or not."},"timeZone":{"type":"string","description":"The time zone of the booking page schedule, in timeZone identifier format, eg: Europe/Bucharest."},"slots":{"type":"object","required":true,"properties":{"mon":{"type":"array","items":{"$ref":"#/components/schemas/BookingPageScheduleHours"},"description":"The schedule hour slots for Monday.","default":[]},"tue":{"type":"array","items":{"$ref":"#/components/schemas/BookingPageScheduleHours"},"description":"The schedule hour slots for Tuesday.","default":[]},"wed":{"type":"array","items":{"$ref":"#/components/schemas/BookingPageScheduleHours"},"description":"The schedule hour slots for Wednesday.","default":[]},"thu":{"type":"array","items":{"$ref":"#/components/schemas/BookingPageScheduleHours"},"description":"The schedule hour slots for Thursday.","default":[]},"fri":{"type":"array","items":{"$ref":"#/components/schemas/BookingPageScheduleHours"},"description":"The schedule hour slots for Friday.","default":[]},"sat":{"type":"array","items":{"$ref":"#/components/schemas/BookingPageScheduleHours"},"description":"The schedule hour slots for Saturday.","default":[]},"sun":{"type":"array","items":{"$ref":"#/components/schemas/BookingPageScheduleHours"},"description":"The schedule hour slots for Sunday.","default":[]}}}}},"BookingPageCreateInput":{"type":"object","properties":{"name":{"type":"string","required":true,"description":"The name of the booking page."},"duration":{"type":"integer","required":true,"description":"The duration of each booking, in minutes."},"additionalDurations":{"type":"array","items":{"type":"integer"},"default":[],"description":"Array of additional durations, in minutes"},"from":{"type":"string","format":"date","required":true,"description":"The from date of the booking page."},"to":{"type":"string","format":"date","description":"The to date of the booking page."},"timeZone":{"type":"string","required":true,"description":"The time zone of the booking page, in timeZone identifier format, eg: Europe/Bucharest."},"bufferBefore":{"type":"integer","description":"The before buffer value of the booking page, in minutes, must be multiple of 15."},"bufferAfter":{"type":"integer","description":"The after buffer value of the booking page, in minutes, must be multiple of 15."},"maxSessionsPerDay":{"type":"integer","description":"The maximum sessions per day value of the booking page."},"startTimeIncrement":{"type":"integer","description":"The start time increment value of the booking page, in minutes."},"slug":{"type":"string","required":true,"description":"The slug of the booking page."},"ignoreSharedCalendars":{"type":"boolean","required":true,"description":"Whether the booking page slot calculation will ignore shared calendars or not."},"allowAdditionalGuests":{"type":"boolean","required":true,"description":"Whether the booking page allows the booking requester to add additional guests on a booking."},"collaborationDistribution":{"$ref":"#/components/schemas/BookingPageCollaborationDistribution","default":"AVAILABILITY"},"scheduleSource":{"$ref":"#/components/schemas/BookingPageScheduleSource","default":"DEFAULT"},"agendaTemplateName":{"type":"string","description":"The agenda template name of the booking page."},"scheduleName":{"type":"string","required":true,"description":"The schedule name of the booking page."}}},"BookingPageUpdateInput":{"type":"object","properties":{"name":{"type":"string","description":"The name of the booking page."},"disabled":{"type":"boolean","description":"Whether the booking page is disabled or not."},"duration":{"type":"integer","description":"The duration of each booking, in minutes."},"additionalDurations":{"type":"array","items":{"type":"integer"},"default":[],"description":"Array of additional durations, in minutes"},"from":{"type":"string","format":"date","description":"The from date of the booking page."},"to":{"type":"string","format":"date","description":"The to date of the booking page."},"timeZone":{"type":"string","description":"The time zone of the booking page, in timeZone identifier format, eg: Europe/Bucharest."},"bufferBefore":{"type":"integer","description":"The before buffer value of the booking page, in minutes, must be multiple of 15."},"bufferAfter":{"type":"integer","description":"The after buffer value of the booking page, in minutes, must be multiple of 15."},"maxSessionsPerDay":{"type":"integer","description":"The maximum sessions per day value of the booking page."},"startTimeIncrement":{"type":"integer","description":"The start time increment value of the booking page, in minutes."},"ignoreSharedCalendars":{"type":"boolean","description":"Whether the booking page slot calculation will ignore shared calendars or not."},"allowAdditionalGuests":{"type":"boolean","description":"Whether the booking page allows the booking requester to add additional guests on a booking."},"collaborationDistribution":{"$ref":"#/components/schemas/BookingPageCollaborationDistribution","default":"AVAILABILITY"},"scheduleSource":{"$ref":"#/components/schemas/BookingPageScheduleSource","default":"DEFAULT"},"agendaTemplateName":{"type":"string","description":"The agenda template name of the booking page."},"scheduleName":{"type":"string","description":"The schedule name of the booking page."}}},"BookingPageComputeAvailableTimeSlotsInput":{"type":"object","properties":{"start":{"type":"string","format":"date-time","required":true,"description":"The start time for computing available time slots."},"end":{"type":"string","format":"date-time","required":true,"description":"The end time for computing available time slots."},"timeZone":{"type":"string","required":true,"default":"Europe/Bucharest","description":"The time zone for computing available time slots, in timeZone identifier format, eg: Europe/Bucharest."},"duration":{"type":"integer","description":"The duration used for computing available time slots, in minutes. Must match one of the durations on the booking page, or the default booking page will be used."}}},"BookingPageCollaborator":{"type":"object","properties":{"id":{"type":"string","required":true,"description":"The id of the booking page collaborator."},"bookingPageId":{"type":"string","required":true,"description":"The id of the booking page connected to the booking page collaborator."},"enabled":{"type":"boolean","required":true,"description":"Whether the booking page collaborator is enabled or not."},"isOwner":{"type":"boolean","required":true,"description":"Whether the booking page collaborator is owner or not."},"canTakeBookings":{"type":"boolean","required":true,"description":"Whether the booking page collaborator can take bookings or not."},"canReassign":{"type":"boolean","required":true,"description":"Whether the booking page collaborator can reassign bookings to other collaborators or not."},"canEdit":{"type":"boolean","required":true,"description":"Whether the booking page collaborator can edit/delete the booking page or not."},"priority":{"type":"integer","description":"The priority for this booking page collaborator to be assigned to a booking. Has a value between 1 and the maximum number of collaborators"},"user":{"$ref":"#/components/schemas/User","description":"The user connected to the booking page collaborator."},"schedule":{"$ref":"#/components/schemas/BookingPageSchedule"}}},"BookingPageCollaboratorCreateInput":{"type":"object","properties":{"collaboratorEmail":{"type":"string","required":true,"description":"The email address of the collaborator. Collaborator must be part of your workspace, to be succesfully added."},"canTakeBookings":{"type":"boolean","required":true,"description":"Permission for the collaborator to take bookings."},"canReassign":{"type":"boolean","required":true,"description":"Permission for the collaborator to reassign bookings to other collaborators."},"canEdit":{"type":"boolean","required":true,"description":"Permission for the collaborator to edit/delete the booking page."},"priority":{"type":"integer","description":"The index in the list of priorities for this collaborator. Must provide a value between 1 and the maximum number of collaborators."},"scheduleName":{"type":"string","description":"The agenda template name to set on the collaborator."}}},"BookingPageCollaboratorUpdateInput":{"type":"object","properties":{"collaboratorEmail":{"type":"string","required":true,"description":"The email address of the collaborator. Collaborator must be part of your workspace, to be succesfully added."},"canTakeBookings":{"type":"boolean","description":"Permission for the collaborator to take bookings."},"canReassign":{"type":"boolean","description":"Permission for the collaborator to reassign bookings to other collaborators."},"canEdit":{"type":"boolean","description":"Permission for the collaborator to edit/delete the booking page."},"priority":{"type":"integer","description":"The index in the list of priorities for this collaborator. Must provide a value between 1 and the maximum number of collaborators."},"scheduleName":{"type":"string","description":"The schedule name to set on the collaborator."}}},"BookingPageCollaboratorDeleteInput":{"type":"object","properties":{"collaboratorEmail":{"type":"string","required":true,"description":"The email address of the collaborator. Collaborator must be part of your workspace, to be succesfully added."}}},"BookingPageCollaborationDistribution":{"type":"string","enum":["AVAILABILITY","PRIORITY"]},"BookingPageScheduleSource":{"type":"string","enum":["DEFAULT","COLLABORATOR"]},"RegistrationForm":{"type":"object","properties":{"name":{"type":"string","required":true,"description":"The name of the registration form."},"description":{"type":"string","required":true,"description":"The description of registration form."},"enabled":{"type":"boolean","required":true,"description":"Whether the registration form is enabled or not."},"formItems":{"type":"array","items":{"$ref":"#/components/schemas/RegistrationFormItem"},"default":[],"description":"Array of registration form items."}}},"RegistrationFormItemType":{"type":"string","enum":["Dropdown","MultipleChoices","SingleChoice","Consent","Date","Numeric","Text","TextArea","Link","Email","FirstName","LastName"]},"RegistrationFormItem":{"type":"object","properties":{"id":{"type":"string","required":true,"description":"The id of the registration form item."},"type":{"$ref":"#/components/schemas/RegistrationFormItemType","required":true,"description":"The type of the registration form item."},"hidden":{"type":"boolean","required":true,"description":"Whether the registration form item is hidden or not."},"question":{"type":"string","required":true,"description":"The question/text of the registration form item."},"minLength":{"type":"integer","description":"Minimum length of the answer for this registration form item."},"maxLength":{"type":"integer","description":"Maximum length of the answer for this registration form item."},"multiline":{"type":"boolean","description":"Whether the registration form item is multiline or not."},"isRequired":{"type":"boolean","required":true,"description":"Whether the registration form item is required or not."},"hasDescription":{"type":"boolean","required":true,"description":"Whether the registration form item has a description or not."},"settings":{"$ref":"#/components/schemas/RegistrationFormItemSettings","required":true,"description":"The settings of the registration form item."}}},"RegistrationFormItemSettings":{"type":"object","properties":{"choices":{"type":"array","items":{"type":"string"},"default":[],"description":"Array of registration form item choices."},"minLength":{"type":"integer","required":true,"description":"Minimum length of a choice for this registration form item."},"maxLength":{"type":"integer","required":true,"description":"Maximum length of a choice for this registration form item."},"multiline":{"type":"boolean","required":true,"description":"Whether a choice of the registration form item is multiline or not."}}},"RegistrationFormAnswer":{"type":"object","properties":{"formItemId":{"type":"string","required":true,"description":"The registration form item id, found on BookingPage | Event -> registrationForm -> formItems -> id."},"value":{"type":["string","number","boolean"],"required":true,"description":"The value for the answer to the registration form item. Data about the choices can be found on BookingPage | Event -> registrationForm -> formItems -> settings -> choices. Allowed types are boolean, string, datetime string, number and number array. Note that for 'RegistrationFormItemType'.'Dropdown' and 'RegistrationFormItemType'.'SingleChoice' types, the value must be a number, which is the index of the desired choice in the choices array, indexed from 0. For 'RegistrationFormItemType'.'MultipleChoices' type, the value must be an array of numbers representing the indices of the desired choices in the choices array, indexed from 0. "}}},"Booking":{"type":"object","properties":{"id":{"type":"string","required":true,"description":"The id of the booking."},"name":{"type":"string","description":"The name of the booking."},"sessionId":{"type":"string","required":true,"description":"The id of the session connected to the booking."},"sessionLink":{"type":"string","description":"The link to the session connected to the booking."},"startAt":{"type":"string","format":"date-time","required":true,"description":"The planned start time of the booking."},"plannedEnd":{"type":"string","format":"date-time","required":false,"description":"The planned end time of the booking."}}},"BookingCreateInput":{"type":"object","properties":{"bookingPageId":{"type":"string","required":true,"description":"The id of the booking page."},"startAt":{"type":"string","format":"date-time","required":true,"description":"The planned start time of the booking."},"timeZone":{"type":"string","required":true,"default":"Europe/Bucharest","description":"The time zone of the booking, in timeZone identifier format, eg: Europe/Bucharest."},"duration":{"type":"integer","description":"The duration of the booking, in minutes."},"guests":{"type":"array","items":{"type":"string"},"default":[],"description":"Array of guest emails"},"formAnswers":{"type":"array","items":{"$ref":"#/components/schemas/RegistrationFormAnswer"},"default":[{"formItemId":"string","value":"string | boolean | number | number[]"}],"description":"Array of registration form answers"}}},"BookingUpdateInput":{"type":"object","properties":{"startAt":{"type":"string","format":"date-time","required":true,"description":"The planned start time of the booking."},"timeZone":{"type":"string","required":true,"default":"Europe/Bucharest","description":"The time zone of the booking, in timeZone identifier format, eg: Europe/Bucharest."},"duration":{"type":"integer","description":"The duration of the booking, in minutes."},"guests":{"type":"array","items":{"type":"string"},"default":[],"description":"Array of guest emails"}}},"BookingCollaboratorChangeInput":{"type":"object","properties":{"collaboratorEmail":{"type":"string","required":true,"description":"The email address of the collaborator. Collaborator must be part of your workspace, to be succesfully changed."}}},"BookingCancelInput":{"type":"object","properties":{"reason":{"type":"string","description":"The reason for cancelling the booking."}}},"GuestBookingCreateInput":{"type":"object","properties":{"guestData":{"$ref":"#/components/schemas/GuestDataInput","required":true},"bookingPageId":{"type":"string","required":true,"description":"The id of the booking page."},"startAt":{"type":"string","format":"date-time","required":true,"description":"The planned start time of the booking."},"timeZone":{"type":"string","required":true,"default":"Europe/Bucharest","description":"The time zone of the booking, in timeZone identifier format, eg: Europe/Bucharest."},"duration":{"type":"integer","description":"The duration of the booking, in minutes."},"guests":{"type":"array","items":{"type":"string"},"default":[],"description":"Array of guest emails"},"formAnswers":{"type":"array","items":{"$ref":"#/components/schemas/RegistrationFormAnswer"},"default":[{"formItemId":"string","value":"string | boolean | number | number[]"}],"description":"Array of registration form answers"}}},"GuestBookingUpdateInput":{"type":"object","properties":{"guestData":{"$ref":"#/components/schemas/GuestDataInput","required":true},"startAt":{"type":"string","format":"date-time","required":true,"description":"The planned start time of the booking."},"timeZone":{"type":"string","required":true,"default":"Europe/Bucharest","description":"The time zone of the booking, in timeZone identifier format, eg: Europe/Bucharest."},"duration":{"type":"integer","description":"The duration of the booking, in minutes."},"guests":{"type":"array","items":{"type":"string"},"default":[],"description":"Array of guest emails"}}},"GuestBookingCancelInput":{"type":"object","properties":{"guestData":{"$ref":"#/components/schemas/GuestDataInput","required":true},"reason":{"type":"string","description":"The reason for cancelling the booking."}}},"GuestEventRegistrationInput":{"type":"object","properties":{"guestData":{"$ref":"#/components/schemas/GuestDataInput","required":true},"timeZone":{"type":"string","default":"Europe/Bucharest","description":"The time zone of the event registration, in timeZone identifier format, eg: Europe/Bucharest. Needed if a 'Date' registration form item must be answered."},"formAnswers":{"type":"array","items":{"$ref":"#/components/schemas/RegistrationFormAnswer"},"required":true,"default":[{"formItemId":"string","value":"string | boolean | number | number[]"}],"description":"Array of registration form answers"}}},"GuestDataInput":{"type":"object","properties":{"email":{"type":"string","required":true,"description":"The guest's email."},"firstName":{"type":"string","required":true,"description":"The guest's first name."},"lastName":{"type":"string","required":true,"description":"The guest's last name."}}},"Room":{"type":"object","properties":{"id":{"type":"string","required":true,"description":"The id of the room."},"active":{"type":"boolean","required":true,"description":"Whether the room is active or not."},"slug":{"type":"string","description":"The slug of the room."},"activeSessionId":{"type":"string","required":true,"description":"Id of the current active session for this room."},"sessionTemplateId":{"type":"string","required":true,"description":"Id of the template session for this room."},"userId":{"type":"string","required":true,"description":"Id of user who is owner for this room."},"user":{"$ref":"#/components/schemas/User"}}},"RoomCreateInput":{"type":"object","properties":{"name":{"type":"string","required":true,"default":"New Room","description":"The name of the room."},"slug":{"type":"string","description":"Unique room identifier to be used in the room's url. Must be unique among all rooms. If not given, an UUID will be generated."}}},"RoomShareInput":{"type":"object","properties":{"userEmails":{"type":"array","items":{"type":"string"},"default":[],"description":"Array of user emails from your workspace to share this room with."},"shareWithWorkspace":{"type":"boolean","description":"Share room with the workspace."}}},"RoomUpdateInput":{"type":"object","properties":{"active":{"type":"boolean","description":"Enable or disable the room."},"agendaTemplateName":{"type":"string","description":"The agenda template name of the room."}}},"Session":{"type":"object","properties":{"id":{"type":"string","required":true},"name":{"type":"string","required":true},"lifecycle":{"type":"string","default":"NOT_STARTED"},"sendEmailsAutomatically":{"type":"boolean"},"requestPermissionToJoin":{"type":"boolean","default":false},"startAt":{"type":"string","format":"date-time","description":"The planned start time of the session."},"plannedEnd":{"type":"string","format":"date-time","description":"The planned end time of the session."},"actualStart":{"type":"string","format":"date-time","description":"The actual start time of the session."},"endedAt":{"type":"string","format":"date-time","description":"The actual end time of the session."},"occurrenceId":{"type":"string","format":"date-time"},"order":{"type":"integer","default":0},"allowMicrophoneType":{"type":"string","default":"EVERYONE"},"description":{"type":"string"},"timeZone":{"type":"string","default":"Europe/Bucharest","description":"The time zone of the session, in timeZone identifier format, eg: Europe/Bucharest."},"autopilot":{"type":"boolean"},"endByWorker":{"type":"boolean","default":true},"createdAt":{"type":"string","format":"date-time","description":"The timestamp of the session creation."},"updatedAt":{"type":"string","format":"date-time","description":"The timestamp of the last update."},"quickSession":{"type":"boolean","default":false},"timeDependency":{"type":"boolean","default":false},"allowScreenShareType":{"type":"string","default":"EVERYONE"},"enableReactionsType":{"type":"string","default":"EVERYONE"},"transcriptionActive":{"type":"boolean","default":false},"source":{"type":"string","default":"APP"},"isChildOfBreakoutRooms":{"type":"boolean","default":false},"askForGuestEmail":{"type":"boolean","default":false},"showAgendaInLobby":{"type":"boolean","default":true},"allowCameraType":{"type":"string","default":"EVERYONE"},"hideNonStreamingParticipants":{"type":"boolean","default":false},"autoRecording":{"type":"boolean","default":false},"recordingType":{"type":"string","default":"RECORDING"},"livestreamOutputUrls":{"type":"array","items":{"type":"string"}},"memoryAccessType":{"type":"string","default":"JUST_ATTENDEES"},"allowAgendaType":{"type":"string","default":"EVERYONE"},"reminders":{"type":"object"},"sessionLink":{"type":"string"}}},"SessionCreateInput":{"type":"object","properties":{"name":{"type":"string","required":true,"default":"New Session","description":"The name of the session."},"startAt":{"type":"string","format":"date-time","description":"The planned start time of the session."},"plannedEnd":{"type":"string","format":"date-time","description":"The planned end time of the session."},"timeZone":{"type":"string","default":"Europe/Bucharest","description":"The time zone of the session, in timeZone identifier format, eg: Europe/Bucharest."},"quickSession":{"type":"boolean","default":false,"description":"Session is instant or planned."},"reminders":{"type":"array","items":{"$ref":"#/components/schemas/SessionInputReminder"},"default":[],"description":"The reminders of the session."},"participants":{"type":"array","items":{"$ref":"#/components/schemas/SessionInputParticipant"},"default":[],"description":"The participants of the session."}}},"SessionUpdateInput":{"type":"object","properties":{"name":{"type":"string","description":"The name of the session."},"startAt":{"type":"string","format":"date-time","description":"The planned start time of the session."},"plannedEnd":{"type":"string","format":"date-time","description":"The planned end time of the session."},"timeZone":{"type":"string","default":"Europe/Bucharest","description":"The time zone of the session, in timeZone identifier format, eg: Europe/Bucharest."},"reminders":{"type":"array","items":{"$ref":"#/components/schemas/SessionInputReminder"},"default":[],"description":"The reminders of the session."}}},"SessionLifecycle":{"type":"string","enum":["NOT_STARTED","STARTED","ENDED"]},"SessionFlagsType":{"type":"string","enum":["EVERYONE","SPEAKERS","HOSTS"]},"SessionSource":{"type":"string","enum":["APP","SLACK","GOOGLE_WORKSPACE","BROWSER_EXTENSION","BOOK","EVENT","ROOM"]},"MemoryAccessType":{"type":"string","enum":["JUST_ATTENDEES","PRIVATE","PUBLIC"]},"SessionInputParticipant":{"type":"object","properties":{"email":{"type":"string","required":true},"firstName":{"type":"string","required":true},"lastName":{"type":"string","required":true},"isAssistant":{"type":"boolean"}}},"ReminderUnit":{"type":"string","enum":["minutes","hours","days","weeks"]},"SessionInputReminder":{"type":"object","properties":{"minutes":{"type":"integer","required":true},"unit":{"$ref":"#/components/schemas/ReminderUnit"}}},"Recording":{"type":"object","properties":{"id":{"type":"string","required":true},"name":{"type":"string","required":false},"downloadLink":{"$ref":"#/components/schemas/ReminderUnit","required":true},"processingStatus":{"$ref":"#/components/schemas/RecordingProcessingStatus","required":true}}},"RecordingProcessingStatus":{"type":"string","enum":["ERROR","FINISHED","NOT_STARTED","QUEUED","STARTED"]},"SessionRecordingType":{"type":"string","enum":["RECORDING","LIVESTREAM","RECORDING_LIVESTREAM"]},"Participant":{"type":"object","properties":{"id":{"type":"string","required":true},"lastSeenTimestamp":{"type":"string","format":"date-time"},"lastChimePresenceTs":{"type":"string"},"muted":{"type":"boolean","default":false},"isOwner":{"type":"boolean","default":false},"isAssistant":{"type":"boolean","default":false},"conferenceStatus":{"type":"string","default":"PARTICIPANT"},"changedBy":{"$ref":"#/components/schemas/ParticipantChangedBy"},"isApproved":{"type":"boolean","default":false},"mockedParticipant":{"type":"boolean","default":false},"status":{"type":"string","default":"NOT_JOINED"},"invitedByTheOwner":{"type":"boolean","default":false},"hasAttendedSession":{"type":"boolean","default":false},"inviteStatus":{"type":"string","default":"NEEDS_ACTION"},"presenceHistory":{"type":"object"},"connectionId":{"type":"string"},"source":{"type":"string","default":"APP"},"createdAt":{"type":"string","format":"date-time","description":"The timestamp of the participant creation."},"updatedAt":{"type":"string","format":"date-time","description":"The timestamp of the last update."},"controlStatus":{"$ref":"#/components/schemas/ControlStatus"},"isRecorder":{"type":"boolean","default":false},"askToUnmute":{"type":"boolean","default":false},"askToStartCamera":{"type":"boolean","default":false},"user":{"$ref":"#/components/schemas/User"},"guest":{"$ref":"#/components/schemas/Guest"}}},"User":{"type":"object","properties":{"id":{"type":"string","required":true},"email":{"type":"string","required":true},"firstName":{"type":"string"},"lastName":{"type":"string"}}},"Guest":{"type":"object","properties":{"id":{"type":"string","required":true},"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"}}},"ParticipantChangedBy":{"type":"string","enum":["OWNER","HIMSELF","ASSISTANT","SYSTEM"]},"ControlStatus":{"type":"string","enum":["CONTROLLING","REQUESTING"]},"SessionTakeaways":{"type":"object","properties":{"artifactTakeaways":{"type":"array","required":true,"items":{"type":"object","required":true,"properties":{"name":{"type":"string","required":true},"takeaway":{"type":"string","required":true}}}},"hasAgenda":{"type":"boolean","required":true}}},"SessionTranscript":{"type":"object","properties":{"id":{"type":"string","required":true},"sourceLanguage":{"type":"string","required":true},"sourceTimestamp":{"type":"string","format":"date-time","required":true,"description":"The source timestamp."},"sessionId":{"type":"string","required":true},"participantId":{"type":"string","required":true},"content":{"type":"array","required":true,"items":{"$ref":"#/components/schemas/SessionTranscriptContent"}}}},"SessionTranscriptContent":{"type":"object","properties":{"id":{"type":"string","required":true},"transcriptId":{"type":"string","required":true},"text":{"type":"string","required":true},"language":{"type":"string","required":true},"isOriginal":{"type":"boolean","required":true}}},"Event":{"type":"object","properties":{"id":{"type":"string","required":true,"description":"The id of the event."},"slug":{"type":"string","required":true,"description":"The slug of the event."},"state":{"$ref":"#/components/schemas/EventState","required":true,"description":"The state of the event."},"hasRegistration":{"type":"boolean","required":true,"description":"Whether the event has registration or not."},"registrationForm":{"$ref":"#/components/schemas/RegistrationForm"},"registrationAnswers":{"type":"array","items":{"$ref":"#/components/schemas/RegistrationFormAnswer"},"required":false},"requireApproval":{"type":"boolean","required":true,"description":"Whether the event registration requires approval or not."},"isPublic":{"type":"boolean","required":true,"description":"Whether the event is public or not."},"accessType":{"$ref":"#/components/schemas/EventAccessType","required":false,"description":"The access type of the event."},"sessionId":{"type":"string","required":true,"description":"Id of the session on this event."},"session":{"$ref":"#/components/schemas/Session"}}},"EventState":{"type":"string","enum":["DRAFT","PUBLISHED"]},"EventAccessType":{"type":"string","enum":["REGISTRATION_FORM","PRIVATE","FREE_ACCESS"]},"EventCreateInput":{"type":"object","properties":{"name":{"type":"string","required":true,"default":"New Event","description":"The name of the event."},"slug":{"type":"string","required":true,"description":"Unique event identifier to be used in the event's url. Must be unique among all events. If not unique, an UUID will be attached."},"startAt":{"type":"string","format":"date-time","required":true,"description":"The planned start time of the event."},"plannedEnd":{"type":"string","format":"date-time","required":true,"description":"The planned end time of the event."},"timeZone":{"type":"string","default":"Europe/Bucharest","description":"The time zone of the event, in timeZone identifier format, eg: Europe/Bucharest."},"collaboratorsEmails":{"type":"array","items":{"type":"string"},"default":[],"description":"Array of collaborators emails."}}},"EventUpdateInput":{"type":"object","properties":{"name":{"type":"string","description":"The name of the event."},"startAt":{"type":"string","format":"date-time","description":"The planned start time of the event."},"plannedEnd":{"type":"string","format":"date-time","description":"The planned end time of the event."},"timeZone":{"type":"string","default":"Europe/Bucharest","description":"The time zone of the event, in timeZone identifier format, eg: Europe/Bucharest."},"reminders":{"type":"array","items":{"$ref":"#/components/schemas/SessionInputReminder"},"default":[],"description":"The reminders of the event."},"collaboratorsEmails":{"type":"array","items":{"type":"string"},"default":[],"description":"Array of collaborators emails."},"accessType":{"$ref":"#/components/schemas/EventAccessType","description":"The access type of the event."}}},"EventRegistration":{"type":"object","properties":{"registrationId":{"type":"string","description":"The id of the event registration."},"email":{"type":"string","description":"The email of the event registration."},"requireLogin":{"type":"boolean","description":"Whether the event registration requires login or not."},"isSpeaker":{"type":"boolean","description":"Whether the person registered to the event is a speaker or not."}}},"EventRegistrationInput":{"type":"object","properties":{"timeZone":{"type":"string","default":"Europe/Bucharest","description":"The time zone of the event registration, in timeZone identifier format, eg: Europe/Bucharest. Needed if a 'Date' registration form item must be answered."},"formAnswers":{"type":"array","items":{"$ref":"#/components/schemas/RegistrationFormAnswer"},"required":true,"default":[{"formItemId":"string","value":"string | boolean | number | number[]"}],"description":"Array of registration form answers"}}}}},"tags":[]}